@import url('https://fonts.googleapis.com/css?family=Sofia');
body
{
    display: flex;
    min-height: 100vh;
    background: #4C3A51;
    justify-content: center;
    align-items: center;
}
ul{
    position: relative;
    transform: skewY(-15deg);

}
ul li {
    position: relative;
    list-style: none;
    width: 250px;
    background: #E7AB79;
    padding: 20px;
    margin: 0;
    color: #4C3A51;
    z-index: var(--i);
    transition: 0.5s;
    font-family: "Sofia", sans-serif;
    
}
ul li:before{
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #774360;
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    content: '';
}
ul li::after{
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #B25068;
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: 0.5s;
    content: '';
}
ul li:hover::before{
    background: #A47E3B;
}
ul li:hover::after{
    background: #BF9742;
}
ul li:hover{
    color: #61481C;
    background: #E6B325;
    transform: translateX(-50px);
    font-family: "Sofia", sans-serif;
}